.header {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

input {
  width: 250px;
  height: 45px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px;
}

button {
  margin-left: 25px;
  width: 100px;
  height: 45px;
  border-radius: 20px;
  background-color: #3038D1;
  color: white;
  font-size: 19px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: wait;
  opacity: 0.5;
}

@media(max-width: 1000px) {
  .header {
    flex-direction: column;
    height: 300px;
  }
  .inputField {
    margin-left: auto;
    margin-right: auto;
  }
}